/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
     box-sizing: border-box;
     transition: all 1s;
}
img, svg {
	max-width:100%;
}

/******************************************
/* animations
/*******************************************/

@keyframes appear {
  0% {
    r: 0;
  }

  90% {
    r: 150;
  }

  100% {
    r: 145;
  }
}

@keyframes path1 {
  0% {cx:400;cy:200;}
  8.333% {cx:400;cy:800;}
  16.667% {cx:800;cy:800;}
  25% {cx:800;cy:400;}
  33.333% {cx:200;cy:400;}
  41.667% {cx:200;cy:800;}
  50% {cx:600;cy:800;}
  58.333% {cx:600;cy:200;}
  66.667% {cx:200;cy:200;}
  75% {cx:200;cy:600;}
  83.333% {cx:800;cy:600;}
  91.667% {cx:800;cy:200;}
  100% {cx:400;cy:200;}
}

@keyframes path2 {
  0% {cx:800;cy:400;}
  8.333% {cx:200;cy:400;}
  16.667% {cx:200;cy:800;}
  25% {cx:600;cy:800;}
  33.333% {cx:600;cy:200;}
  41.667% {cx:200;cy:200;}
  50% {cx:200;cy:600;}
  58.333% {cx:800;cy:600;}
  66.667% {cx:800;cy:200;}
  75% {cx:400;cy:200;}
  83.333% {cx:400;cy:800;}
  91.667% {cx:800;cy:800;}
  100% {cx:800;cy:400;}
}

@keyframes path3 {
  0% {cx:600;cy:800;}
  8.333% {cx:600;cy:200;}
  16.667% {cx:200;cy:200;}
  25% {cx:200;cy:600;}
  33.333% {cx:800;cy:600;}
  41.667% {cx:800;cy:200;}
  50% {cx:400;cy:200;}
  58.333% {cx:400;cy:800;}
  66.667% {cx:800;cy:800;}
  75% {cx:800;cy:400;}
  83.333% {cx:200;cy:400;}
  91.667% {cx:200;cy:800;}
  100% {cx:600;cy:800;}
}

@keyframes path4 {
  0% {cx:200;cy:600;}
  8.333% {cx:800;cy:600;}
  16.667% {cx:800;cy:200;}
  25% {cx:400;cy:200;}
  33.333% {cx:400;cy:800;}
  41.667% {cx:800;cy:800;}
  50% {cx:800;cy:400;}
  58.333% {cx:200;cy:400;}
  66.667% {cx:200;cy:800;}
  75% {cx:600;cy:800;}
  83.333% {cx:600;cy:200;}
  91.667% {cx:200;cy:200;}
  100% {cx:200;cy:600;}
}

/******************************************
/* LAYOUT
/*******************************************/

body{

}

.site-container {
	max-width: 70%;
	margin: 0 auto;
  min-height: 100vh;
}

.svg{
  width: 100%;
  height: auto;
}

.circle1{
  cx: 400;
  cy: 200;
  animation: 1s ease 0s 1 appear, 30s linear 0s infinite path1;
  r: 145;
  fill: transparent;
  stroke-width: 1;
  stroke: magenta;
}

.circle2{
  cx: 800;
  cy: 400;
  animation: 1s ease 0s 1 appear, 30s linear 0s infinite path2;
  r: 145;
  fill: transparent;
  stroke-width: 1;
  stroke: cyan;
}

.circle3{
  cx: 600;
  cy: 800;
  animation: 1s ease 0s 1 appear, 30s linear 0s infinite path3;
  r: 145;
  fill: transparent;
  stroke-width: 1;
  stroke: yellow;
}

.circle4{
  cx: 200;
  cy: 600;
  animation: 1s ease 0s 1 appear, 30s linear 0s infinite path4;
  r: 145;
  fill: transparent;
  stroke-width: 1;
  stroke: black;
}

.expand{
  r: 1500;
}

.shrink{
  r: 0;
}

.switchCircle{
  r:0;
  fill: red;
  transition: all 1s 1s;
}

.switchExpand{
  r: 50;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
